:root{
    --bg-dark:#2F2F2F;
    --main-color:#F59B00;
    --main-text-color:#2F2F2F;
   

}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' Arial, Helvetica, sans-serif;
}
a{
    text-decoration: inherit;
    color:inherit;
}
.container{
    width: 70%;
    margin :0 auto;
}
nav a.active{
    color: red;
}